nav {
  height: 80px;
}
.navbar .title {
  margin: 25px 16px 25px 0px;
}
p {
  font-size: 16px;
}

.avatar img {
  max-width: 160px;
  width: 100%;
  transform: translate3d(0, -40%, 0);
}

img {
  width: 60%;
}

.profile-title {
  border-bottom: 5px solid #9c27b0;
}
#portfolio img {
  width: 100%;
}
#portfolio img:hover {
  opacity: 0.3;
}
nav.float-left {
  padding: 10px 0px;
}
